@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');

.panel{
align-items: center;
margin:5rem;
margin:auto;

}
.panel div{
    color: #FFC701;
    font-family: 'Rubik',san-serif !important;
    font-size: 30px;
    font-style: normal;
    font-weight: 300;
    text-align: center;

    
}
.panel p{
    color: #26264F;
    font-family: 'Rubik',san-serif;
    font-size: 25px;
    font-weight: 550;
    font-style:normal;
    
}