.benefit-card {
  display: flex;
  flex-direction: column;
  width: 22vw;
  height: 20vh;
  background-color: #273239;
  padding: 25px;
  border-radius: 5px;
}
.benefit-card-header {
  display: flex;
  margin-bottom: 0.5rem;
}
.img {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background-color: #bfbfbf;
  margin-top: -5px;
}
.heading {
  margin-left: 20px;

  color: #f0f0f0;
  font-family: Inter;
  font-size: 1.2rem;

  font-weight: 500;
}
.benefit-card p {
  font-size: 0.78rem;
  color: #e3e3e3;
  text-align: left;
}
