.footer {
  display: flex;
  justify-content: space-between;
  background-color: #aa80f9;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  height: 60px;
  align-items: center;
  padding: 20px;
}

.social-icons {
  display: flex;
  gap: 10px;
  margin-bottom: -13px;
}

.eclipse-instagram {
  background-color: white;
  width: 27px;
  height: 27px;
  border-radius: 50%;
  display: flex;
  align-items: center;
}
.eclipse-instagram img {
  width: 17px;
  height: 17px;
  margin-left: 5px;
}

.eclipse-facebook {
  background-color: white;
  width: 27px;
  height: 27px;
  border-radius: 50%;
  display: flex;
}
.eclipse-facebook img {
  width: 17px;
  height: 17px;
  margin-left: 4px;
  margin-top: 5px;
}

.text1 {
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 15px;
  font-style: italic;
  font-weight: 300;
}
.right {
  display: flex;
  gap: 20px;
  margin-top: 40px;
  padding: 0px 0px 10px 80px;
}
.right {
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 15px;
  font-style: italic;
  font-weight: 200;
  line-height: normal;
}
.left {
  display: flex;
  flex-direction: column;
  gap: 13px;
  margin-left: 20px;
  margin-top: 10px;
}
